.unityContainer {
  width: 992px;
  aspect-ratio: 3/2;
}

@media (max-width: 992px) {
  .unityContainer {
    width: 100%;
    aspect-ratio: 3/2;
  }
}

@media (max-width: 568px) {
  .unityContainer {
    width: 100%;
    aspect-ratio: 3/2;
  }
}
